{% block modal_before %}{% endblock modal_before %}
<div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    {% block modal_title %}{% endblock%}
</div>
<div class="modal-body">
    {% block modal_body %}{% endblock %}
</div>
<div class="modal-footer">
    {% block modal_footer %}{% endblock %}
</div>
{% block modal_after %}{% endblock modal_after %}