{% extends "SnowcapAdminBundle::base.html.twig" %}

{% block body %}
	<h2>{{ "content.list"|trans({'%content_name%': admin.param('label')}, 'SnowcapAdminBundle') }}</h2>
	{{ grid_widget(grid) }}
    <hr/>
    <p>
        <a class="btn btn-primary" href="{{ path('snowcap_admin_content_create', {'code': admin.code}) }}">
            <i class="icon-plus icon-white"></i>
            {{ "content.create"|trans({'%content_name%': admin.param('label')}, 'SnowcapAdminBundle') }}
        </a>
    </p>
{% endblock %}