{% extends 'SnowcapAdminBundle:' ~ admin.alias|camelize ~ ':modalForm.html.twig' %}

{% trans_default_domain 'SnowcapAdminBundle' %}

{% set title = admin.entityName(entity) %}
{% set form_action = admin_content_path(admin, 'modalUpdate', {'id': entity.id}) %}

{% block modal_footer %}
    <a class="btn" href="#" data-dismiss="modal">{{ "content.actions.cancel"|trans }}</a>
    <a
        class="btn btn-danger"
        data-admin="content-delete"
        href="{{ admin_content_path(admin, 'delete', {'id': entity.id}) }}
    ">
        {{ "content.actions.delete"|trans }}
    </a>
    {{ parent() }}
{% endblock %}