{% extends form_template %}

{# pageheader block #}
{% block pageheader %}
    <div class="page-header">
        <h2>{{ "content.update.title"|trans({'%content_name%': admin.param('label')|transchoice(1) }, 'SnowcapAdminBundle') }}</h2>
    </div>
{% endblock pageheader %}

{% if admin.translatable %}
    {% set switch_route_params = {'code': admin.code, 'id': entity.id} %}
    {% set form_action_params = {'code': admin.code, 'id': entity.id, 'locale': content_locale} %}
{% else %}
    {% set form_action_params = {'code': admin.code, 'id': entity.id} %}
{% endif %}