{% extends "SnowcapAdminBundle::base.html.twig" %}

{# body block #}
{% block body %}

    {# pageheader block #}
    {% block pageheader %}
        <div class="page-header">
            <h1>{{ admin.entityName(entity) }}</h1>
        </div>
    {% endblock pageheader %}

    {# detail block #}
    {% block detail %}

    {% endblock detail %}

    {# after block #}
    {% block after %}

    {% endblock %}

{% endblock body %}