
{% set preview = admin.preview %}
<ul class="dropdown-menu">
    {% for entity in results %}
        <li>
            {% include 'SnowcapAdminBundle:InlineContent:preview_item.html.twig' %}
        </li>
    {% else %}
        <li class="noresult">{{ "inline_content.noresult"|trans({}, 'SnowcapAdminBundle') }}</li>
    {% endfor %}
</ul>
