{% extends "SnowcapAdminBundle::modal_base.html.twig" %}

{% block modal_title %}
<h3>{{ "inline_content.select_or_create"|trans({'%content_name%': admin.param('label')}, 'SnowcapAdminBundle') }}</h3>{% endblock %}

{% block modal_body %}
<ul class="nav nav-pills">
    <li class="active"><a href="#select" data-toggle="pill">{{ "inline_content.select"|trans({'%content_name%': admin.param('label')}, 'SnowcapAdminBundle') }}</a></li>
    <li><a href="#create" data-toggle="pill">{{ "inline_content.create"|trans({'%content_name%': admin.param('label')}, 'SnowcapAdminBundle') }}</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="select">
        {% render 'SnowcapAdminBundle:InlineContent:select' with {'code': admin.code} %}
    </div>
    <div class="tab-pane" id="create">
        {% render 'SnowcapAdminBundle:InlineContent:create' with {'code': admin.code} %}
    </div>
</div>
{% endblock %}

{% block modal_footer%}
    <button type="button" class="btn btn-large btn-primary">{{ "content.save"|trans({}, 'SnowcapAdminBundle') }}</button>
{% endblock %}