{% extends "SnowcapAdminBundle::base.html.twig" %}

{# body block #}
{% block body %}

    {# pageheader block #}
    {% block pageheader %}
        <div class="page-header">
            <h2>{{ "dashboard.title"|trans({}, 'SnowcapAdminBundle') }}</h2>
        </div>
    {% endblock pageheader %}

    {# intro block #}
    {% block intro %}
        <p>{{ "dashboard.introduction"|trans({}, 'SnowcapAdminBundle')|raw }}</p>
    {% endblock intro %}

    {# widgets block #}
    {% block widgets %}

        {# {% render 'SnowcapAdminBundle:Log:list' %} #}

    {% endblock widgets %}

{% endblock body %}