{% import 'SnowcapAdminBundle:Navigation:macros.html.twig' as macros %}

{# navigation block #}
{% block navigation %}

    <div id="navbar-main" class="navbar navbar-fixed-top navbar-inverse">
        <div class="navbar-inner">
            <div class="container">

                {# brand block #}
                {% block brand %}
                    <a class="brand" href="{{ path('snowcap_admin_default_index') }}">
                        {{ "project.name"|trans({}, 'SnowcapAdminBundle') }}
                    </a>
                {% endblock brand %}

                {# admins block #}
                {% block admins %}
                    <ul class="nav">
                        {% for admin in admins %}
                            {{ macros.menu_item(admin) }}
                        {% endfor %}
                    </ul>
                {% endblock admins %}

                {# block context #}
                {% block context %}{% endblock context %}

            </div>
        </div>
    </div>

{% endblock navigation %}