{% macro menu_item(admin, action, label) %}
    {% set path = action is empty ? admin.defaultPath : admin_content_path(admin, action) %}
    {% set label = label|default(admin.option('label')) %}
    <li{% if is_active_path(path) %} class="active"{% endif %}>
        <a href="{{ path }}" >{{ label|transchoice(10) }}</a>
    </li>
{% endmacro %}