{% macro menu_item(admin) %}
    <li{% if is_active_path(admin.defaultPath) %} class="active"{% endif %}>
        <a href="{{ admin.defaultPath }}" >{{ admin.option('label')|transchoice(10) }}</a>
    </li>
{% endmacro %}