{% macro menu_item(admin, path, label) %}
    {% set path = path is empty ? admin.defaultPath : path %}
    {% set label = label|default(admin_label(admin, true)) %}
    <li{% if is_active_path(path) %} class="active"{% endif %}>
        <a href="{{ path }}" >{{ label }}</a>
    </li>
{% endmacro %}