{% from 'SnowcapBootstrapBundle::macros.html.twig' import alert %}

<div data-admin="ui-alerts">
    {% for type, flashMessages in app.session.flashbag.all() %}
        {% for flashMessage in flashMessages %}
            {{ alert(flashMessage, type, null, true) }}
        {% endfor %}
    {% endfor %}
</div>