{% extends "SnowcapAdminBundle::base.html.twig" %}

{% import 'SnowcapBootstrapBundle::macros.html.twig' as bootstrap %}

{% datalist_theme datalist 'SnowcapAdminBundle:Datalist:datalist_tiled_layout.html.twig' %}

{% block main_nav %}{% endblock main_nav %}

{% block body %}
    {% include 'SnowcapAdminBundle:Wysiwyg:upload.html.twig' with {'form': uploadForm } %}
    <h2>{{ "wysiwyg.browse.title"|trans({}, 'SnowcapAdminBundle') }}</h2>
    <hr/>
    <div class="wysiwyg-browser">
        {% if datalist is empty %}
            {{ bootstrap.alert("wysiwyg.browse.empty"|trans({}, 'SnowcapAdminBundle')) }}
        {% else %}
            {{ datalist_widget(datalist) }}
        {% endif %}
    </div>
{% endblock %}