{% extends "SnowcapAdminBundle::modal_base.html.twig" %}

{% block modal_title %}<h3>{{ "content.list"|trans({'%content_name%': admin.param('label')}, 'SnowcapAdminBundle') }}</h3>{% endblock %}

{% block modal_body %}
    {{ grid_widget(grid) }}
{% endblock %}

{% block modal_footer%}
    <button type="submit" class="btn btn-large btn-primary">{{ "content.save"|trans({}, 'SnowcapAdminBundle') }}</button>
{% endblock %}